<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blog</title>
</head>
<body>
    <%- include('./partials/nav') %> 

    <div class="container mt-4">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" width="1000px" height="700px"/>
        <p mt-3><%= blog.body %></p>
    </div>
    

    <div class="container mt-3">
        <h1>Comments (<%= comments.length %>)</h1>
        <% if(user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post">
                <div class="mb-3">
                  <input 
                    type="text" 
                    name="content"
                    class="form-control"
                    placeholder="Enter your comment"
                />
                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
            </div>
          </form>
            <% } %>
            <div class="mt-3">
                <% comments.forEach(comment => { %> 
                    <div>
                        <% if (comment.createdBy) { %>
                        <img src="<%= comment.createdBy.profileImageUrl %>" width="50px" />
                        <%= comment.createdBy.fullName %>
                        <pre><%= comment.content %></pre>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>

    <%- include('./partials/script') %>
</body>
</html>

